<header class="header" data-aos="fade-down">
  <div class="container header-container">
    <div class="header-content-wrap">
      <nav class="nav">
        <a href="/" class="header-logo-link">
          <svg class="header-logo-icon">
            <use href="/icons/icons.svg#logo"></use>
          </svg>
        </a>
        <ul class="header-menu">
          <li class="menu-item">
            <a href="#projects" class="menu-link">Проекти</a>
          </li>
          <li class="menu-item">
            <a href="#partners" class="menu-link">Партнери</a>
          </li>
        </ul>
      </nav>
      <a href="/" class="header-plus-for-life-link">
        <span class="header-plus-for-life-link-title"
          >Збір «Плюс на життя»</span
        >
        <svg class="header-plus-for-life-link-icon">
          <use href="/icons/icons.svg#nav-arrow"></use>
        </svg>
      </a>
    </div>
  </div>
</header>
