<section class="hero-section">
  <div class="hero-bg-icon-wrap" data-aos="zoom-out" data-aos-duration="2000">
    <img src="/icons/hero-bg-mobile.svg" class="hero-bg-mobile-icon" />
    <img src="/icons/hero-bg-desk.svg" class="hero-bg-desk-icon" />
  </div>
  <div class="container hero-container">
    <h1 class="hero-title" data-aos="fade-up">Соціальні проекти</h1>
    <p class="hero-desc" data-aos="fade-up">
      З перших днів повномасштабної війни «Сільпо» допомагає Збройним силам
      України, благодійним організаціям, госпіталям, дитячим будинкам,
      переселенцям тощо.
    </p>
  </div>
</section>
