<section class="hero-section">
  <div class="container hero-container">
    <h1 class="hero-title">Сільпо допомагає</h1>
    <p class="hero-desc">
      Тут ви зможете переглянути інформацію про наші благодійні ініціативи
    </p>
    <div class="hero-results-list">
      <div class="hero-results-card-wrap left-card">
        <div class="hero-results-card left-card">
          <p class="hero-results-card-text-title">60 млн</p>
          <p class="hero-results-card-text-desc">
            гривень зібрано на благодійність
          </p>
        </div>
        <svg class="hero-results-card-icon left-hand-mobile-icon">
          <use href="/icons/icons.svg#hero-left-hand-mobile"></use>
        </svg>
        <svg class="hero-results-card-icon left-hand-desk-icon">
          <use href="/icons/icons.svg#hero-left-hand-desk"></use>
        </svg>
      </div>
      <div class="hero-results-card-wrap center-card">
        <div class="hero-results-card center-card">
          <p class="hero-results-card-text-title">20+</p>
          <p class="hero-results-card-text-desc">
            організованих<br />проектів з 2022 року
          </p>
        </div>
        <svg class="hero-results-card-icon center-hand-mobile-icon">
          <use href="/icons/icons.svg#hero-center-hand-mobile"></use>
        </svg>
        <svg class="hero-results-card-icon center-hand-desk-icon">
          <use href="/icons/icons.svg#hero-center-hand-desk"></use>
        </svg>
      </div>
      <div class="hero-results-card-wrap right-card">
        <div class="hero-results-card right-card">
          <p class="hero-results-card-text-title">10 млн</p>
          <p class="hero-results-card-text-desc">
            гривень задоначених <br />на потреби ЗСУ
          </p>
        </div>
        <svg class="hero-results-card-icon right-hand-mobile-icon">
          <use href="/icons/icons.svg#hero-right-hand-mobile"></use>
        </svg>
        <svg class="hero-results-card-icon right-hand-desk-icon">
          <use href="/icons/icons.svg#hero-right-hand-desk"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
