<section id="partners" class="partners-section">
  <h2 class="partners-section-title">ПАРТНЕРИ</h2>
  <div class="partners-list-container top">
    <div class="partners-list-wrap top">
      <ul class="partners-list top">
        <li class="partners-list-item">
          <div class="partners-card">
            <svg class="partners-icon vodafone">
              <use href="/icons/icons.svg#vodafone"></use>
            </svg>
          </div>
        </li>
        <li class="partners-list-item">
          <div class="partners-card">
            <svg class="partners-icon birds">
              <use href="/icons/icons.svg#birds"></use>
            </svg>
          </div>
        </li>
        <li class="partners-list-item">
          <div class="partners-card">
            <svg class="partners-icon city24">
              <use href="/icons/icons.svg#city24"></use>
            </svg>
          </div>
        </li>
        <li class="partners-list-item">
          <div class="partners-card">
            <svg class="partners-icon united24">
              <use href="/icons/icons.svg#united24"></use>
            </svg>
          </div>
        </li>
        <li class="partners-list-item">
          <div class="partners-card">
            <img src="/images/partners/wog.png" class="partners-icon wog" />
          </div>
        </li>
        <li class="partners-list-item">
          <div class="partners-card">
            <svg class="partners-icon drones">
              <use href="/icons/icons.svg#drones"></use>
            </svg>
          </div>
        </li>
      </ul>
      <ul class="partners-list top">
        <li class="partners-list-item">
          <div class="partners-card">
            <svg class="partners-icon vodafone">
              <use href="/icons/icons.svg#vodafone"></use>
            </svg>
          </div>
        </li>
        <li class="partners-list-item">
          <div class="partners-card">
            <svg class="partners-icon birds">
              <use href="/icons/icons.svg#birds"></use>
            </svg>
          </div>
        </li>
        <li class="partners-list-item">
          <div class="partners-card">
            <svg class="partners-icon city24">
              <use href="/icons/icons.svg#city24"></use>
            </svg>
          </div>
        </li>
        <li class="partners-list-item">
          <div class="partners-card">
            <svg class="partners-icon united24">
              <use href="/icons/icons.svg#united24"></use>
            </svg>
          </div>
        </li>
        <li class="partners-list-item">
          <div class="partners-card">
            <img src="/images/partners/wog.png" class="partners-icon wog" />
          </div>
        </li>
        <li class="partners-list-item">
          <div class="partners-card">
            <svg class="partners-icon drones">
              <use href="/icons/icons.svg#drones"></use>
            </svg>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <ul
    class="partners-list center"
    data-aos="fade-right"
    data-aos-duration="2000"
  >
    <li class="partners-list-item">
      <div class="partners-card">
        <svg class="partners-icon sun">
          <use href="/icons/icons.svg#sun"></use>
        </svg>
      </div>
    </li>
    <li class="partners-list-item">
      <div class="partners-card">
        <svg class="partners-icon monobank">
          <use href="/icons/icons.svg#monobank"></use>
        </svg>
      </div>
    </li>
    <li class="partners-list-item">
      <div class="partners-card">
        <svg class="partners-icon come-back-alive">
          <use href="/icons/icons.svg#come-back-alive"></use>
        </svg>
      </div>
    </li>
    <li class="partners-list-item">
      <div class="partners-card">
        <svg class="partners-icon dou">
          <use href="/icons/icons.svg#dou"></use>
        </svg>
      </div>
    </li>
    <li class="partners-list-item">
      <div class="partners-card">
        <img src="/images/partners/unite.png" class="partners-icon unite" />
      </div>
    </li>
    <li class="partners-list-item">
      <div class="partners-card">
        <svg class="partners-icon okko">
          <use href="/icons/icons.svg#okko"></use>
        </svg>
      </div>
    </li>
    <li class="partners-list-item">
      <div class="partners-card">
        <svg class="partners-icon new-post">
          <use href="/icons/icons.svg#new-post"></use>
        </svg>
      </div>
    </li>
  </ul>
</section>
