<section id="partners" class="partners-section">
  <h2 class="partners-section-title">ПАРТНЕРИ</h2>
  <ul
    class="partners-list top partners-desk-list"
    data-aos="fade-left"
    data-aos-duration="2000"
  >
    <li class="partners-list-item">
      <div class="partners-card">
        <svg class="partners-icon birds">
          <use href="/icons/icons.svg#birds"></use>
        </svg>
      </div>
    </li>
    <li class="partners-list-item">
      <div class="partners-card">
        <img src="/images/partners/front-u.png" class="partners-icon front-u" />
      </div>
    </li>
    <li class="partners-list-item">
      <div class="partners-card">
        <svg class="partners-icon united24">
          <use href="/icons/icons.svg#united24"></use>
        </svg>
      </div>
    </li>
    <li class="partners-list-item">
      <div class="partners-card">
        <img src="/images/partners/feel.png" class="partners-icon feel" />
      </div>
    </li>
    <li class="partners-list-item">
      <div class="partners-card">
        <img
          src="/images/partners/club-of-virtues.png"
          class="partners-icon club-of-virtues"
        />
      </div>
    </li>
    <li class="partners-list-item">
      <div class="partners-card">
        <svg class="partners-icon uanimal">
          <use href="/icons/icons.svg#uanimal"></use>
        </svg>
      </div>
    </li>
  </ul>
  <ul
    class="partners-list center partners-desk-list"
    data-aos="fade-right"
    data-aos-duration="2000"
  >
    <li class="partners-list-item">
      <div class="partners-card">
        <svg class="partners-icon sun">
          <use href="/icons/icons.svg#sun"></use>
        </svg>
      </div>
    </li>
    <li class="partners-list-item">
      <div class="partners-card">
        <svg class="partners-icon come-back-alive">
          <use href="/icons/icons.svg#come-back-alive"></use>
        </svg>
      </div>
    </li>
    <li class="partners-list-item">
      <div class="partners-card">
        <svg class="partners-icon your-support">
          <use href="/icons/icons.svg#your-support"></use>
        </svg>
      </div>
    </li>
    <li class="partners-list-item">
      <div class="partners-card">
        <img
          src="/images/partners/mastercard.png"
          class="partners-icon mastercard"
        />
      </div>
    </li>
    <li class="partners-list-item">
      <div class="partners-card">
        <img src="/images/partners/prytula.png" class="partners-icon prytula" />
      </div>
    </li>
    <li class="partners-list-item">
      <div class="partners-card">
        <svg class="partners-icon tabletochki">
          <use href="/icons/icons.svg#tabletochki"></use>
        </svg>
      </div>
    </li>
    <li class="partners-list-item">
      <div class="partners-card">
        <img src="/images/partners/leleka.png" class="partners-icon leleka" />
      </div>
    </li>
  </ul>
  <ul
    class="partners-list partners-mobile-list"
    data-aos="fade-up"
    data-aos-duration="2000"
  >
    <li class="partners-list-item">
      <div class="partners-card">
        <svg class="partners-icon birds">
          <use href="/icons/icons.svg#birds"></use>
        </svg>
      </div>
    </li>
    <li class="partners-list-item">
      <div class="partners-card">
        <img src="/images/partners/front-u.png" class="partners-icon front-u" />
      </div>
    </li>
    <li class="partners-list-item">
      <div class="partners-card">
        <svg class="partners-icon united24">
          <use href="/icons/icons.svg#united24"></use>
        </svg>
      </div>
    </li>
    <li class="partners-list-item">
      <div class="partners-card">
        <img src="/images/partners/feel.png" class="partners-icon feel" />
      </div>
    </li>
    <li class="partners-list-item">
      <div class="partners-card">
        <img
          src="/images/partners/club-of-virtues.png"
          class="partners-icon club-of-virtues"
        />
      </div>
    </li>
    <li class="partners-list-item">
      <div class="partners-card">
        <svg class="partners-icon uanimal">
          <use href="/icons/icons.svg#uanimal"></use>
        </svg>
      </div>
    </li>
    <li class="partners-list-item">
      <div class="partners-card">
        <svg class="partners-icon sun">
          <use href="/icons/icons.svg#sun"></use>
        </svg>
      </div>
    </li>
    <li class="partners-list-item">
      <div class="partners-card">
        <svg class="partners-icon come-back-alive">
          <use href="/icons/icons.svg#come-back-alive"></use>
        </svg>
      </div>
    </li>
    <li class="partners-list-item">
      <div class="partners-card">
        <svg class="partners-icon your-support">
          <use href="/icons/icons.svg#your-support"></use>
        </svg>
      </div>
    </li>
    <li class="partners-list-item">
      <div class="partners-card">
        <img
          src="/images/partners/mastercard.png"
          class="partners-icon mastercard"
        />
      </div>
    </li>
    <li class="partners-list-item">
      <div class="partners-card">
        <img src="/images/partners/prytula.png" class="partners-icon prytula" />
      </div>
    </li>
    <li class="partners-list-item">
      <div class="partners-card">
        <svg class="partners-icon tabletochki">
          <use href="/icons/icons.svg#tabletochki"></use>
        </svg>
      </div>
    </li>
    <li class="partners-list-item">
      <div class="partners-card">
        <img src="/images/partners/leleka.png" class="partners-icon leleka" />
      </div>
    </li>
  </ul>
</section>
