<div
  class="backdrop-wrap js-project-artemsil-modal-win js-backdrop-wrap is-hidden"
>
  <div class="backdrop js-backdrop">
    <div class="modal-win">
      <button
        type="button"
        class="modal-win-close-btn js-artemsil-modal-win-close-btn"
      >
        <svg class="modal-win-close-btn-icon">
          <use href="/icons/icons.svg#close"></use>
        </svg>
      </button>
      <div class="modal-win-container">
        <p class="modal-win-title">МІЦЬ. УКРАЇНСЬКА КАМ&#8217;ЯНА</p>
        <img
          src="/images/projects/artemsil.jpg"
          alt="логотип проекту"
          class="modal-win-img"
        />
        <p class="modal-win-text">
          До першої річниці повномасштабної війни ДП «АРТЕМСІЛЬ» та UNITED24
          випустили спеціальну партію «АРТЕМСОЛІ», щоб допомогти Силам оборони
          України. 20 тонн спеціальної партії солі з шахт Соледара розділили на
          100 000 пачок, які можна було придбати у магазинах «Сільпо» або на
          Rozetka.
        </p>
        <p class="modal-win-text">
          У межах проєкту зібрано понад <strong>58 500 000 гривень</strong> на
          закупівлю <strong>2200 безпілотників FPV</strong> для ГУР МО України.
        </p>
      </div>
    </div>
  </div>
</div>

<div
  class="backdrop-wrap js-project-armor-modal-win js-backdrop-wrap is-hidden"
>
  <div class="backdrop js-backdrop">
    <div class="modal-win">
      <button
        type="button"
        class="modal-win-close-btn js-armor-modal-win-close-btn"
      >
        <svg class="modal-win-close-btn-icon">
          <use href="/icons/icons.svg#close"></use>
        </svg>
      </button>
      <div class="modal-win-container">
        <p class="modal-win-title">БОНУСНА БРОНЯ</p>
        <img
          src="/images/projects/armor.jpg"
          alt="логотип проекту"
          class="modal-win-img"
        />
        <p class="modal-win-text">
          У жовтні 2023 року «Сільпо» разом з іншими компаніями долучилося до
          збору Благодійного фонду Сергія Притули на броню для Сил оборони.
          Гості «Сільпо» могли перерахувати балобонуси у мобільному застосунку
          на окремий збір.
        </p>
        <p class="modal-win-text">
          Усього у межах збору вдалося зібрати
          <strong>14 630 220 грн</strong> на
          <strong>закупку та транспортування бронетехніки</strong>.
        </p>
      </div>
    </div>
  </div>
</div>

<div
  class="backdrop-wrap js-project-money-modal-win js-backdrop-wrap is-hidden"
>
  <div class="backdrop js-backdrop">
    <div class="modal-win">
      <button
        type="button"
        class="modal-win-close-btn js-money-modal-win-close-btn"
      >
        <svg class="modal-win-close-btn-icon">
          <use href="/icons/icons.svg#close"></use>
        </svg>
      </button>
      <div class="modal-win-container">
        <p class="modal-win-title">СКАРБНИЧКА ДОБРА</p>
        <img
          src="/images/projects/money.png"
          alt="логотип проекту"
          class="modal-win-img money"
        />
        <p class="modal-win-text">
          У 2022 році «Сільпо» у мобільному застосунку відкрив збір коштів для
          благодійних фондів. Кожен гість може віддати накопичені балобонуси
          одному з фондів: «Повернись живим», Благодійний фонд Сергія Притули,
          Front-U, «Твоя Опора», «Лелека-Україна» та іншим.
        </p>
      </div>
    </div>
  </div>
</div>

<div
  class="backdrop-wrap js-project-message-modal-win js-backdrop-wrap is-hidden"
>
  <div class="backdrop js-backdrop">
    <div class="modal-win">
      <button
        type="button"
        class="modal-win-close-btn js-message-modal-win-close-btn"
      >
        <svg class="modal-win-close-btn-icon">
          <use href="/icons/icons.svg#close"></use>
        </svg>
      </button>
      <div class="modal-win-container">
        <p class="modal-win-title">ІНСТОРИКИ</p>
        <img
          src="/images/projects/message.jpg"
          alt="логотип проекту"
          class="modal-win-img"
        />
        <p class="modal-win-text">
          «Сільпо» за підтримки Mastercard взимку 2023 року реалізувало
          просвітницько-благодійний проєкт «Інсторики». Купуючи стікери
          «Інсторики» з видатними українцями та українками, гості «Сільпо»
          долучилися до благодійного збору коштів.
        </p>
        <p class="modal-win-text">
          У межах проєкту зібрано <strong>5 423 798 гривень</strong>, які було
          перераховано проєкту «Птахи» Тати Кеплер для закупівлі
          <strong>медикаментів першої необхідності</strong>.
        </p>
      </div>
    </div>
  </div>
</div>
