<section class="projects-section" id="projects">
  <div class="projects-section-bg">
    <div class="container projects-container">
      <h2 class="hidden-element">Проекти</h2>
      <div class="swiper projects-slider projects-slider-mobile">
        <ul class="swiper-wrapper projects-slider-wrapper">
          <li class="swiper-slide projects-slider-slide">
            <button
              type="button"
              class="projects-card-link armor js-project-armor-btn"
            >
              <span class="projects-card-link-icon-wrap">
                <span class="project-icon-wrap">
                  <svg class="projects-card-link-icon armor">
                    <use href="/icons/icons.svg#armor"></use>
                  </svg>
                </span>
                <span class="projects-card-link-nav-arrow-wrap">
                  <svg class="projects-card-link-nav-arrow armor">
                    <use href="/icons/icons.svg#card-nav-arrow"></use>
                  </svg>
                </span>
              </span>
              <span class="projects-card-link-title">Бонусна Броня</span>
            </button>
          </li>
          <li class="swiper-slide projects-slider-slide">
            <button
              type="button"
              class="projects-card-link artemsil js-project-artemsil-btn"
            >
              <span class="projects-card-link-icon-wrap">
                <span class="project-icon-wrap">
                  <svg class="projects-card-link-icon artemsil">
                    <use href="/icons/icons.svg#artemsil"></use>
                  </svg>
                </span>
                <span class="projects-card-link-nav-arrow-wrap">
                  <svg class="projects-card-link-nav-arrow artemsil">
                    <use href="/icons/icons.svg#card-nav-arrow"></use>
                  </svg>
                </span>
              </span>
              <span class="projects-card-link-title"
                >Міць. Українська кам&#8217;яна</span
              >
            </button>
          </li>
          <li class="swiper-slide projects-slider-slide">
            <button
              type="button"
              class="projects-card-link money js-project-money-btn"
            >
              <span class="projects-card-link-icon-wrap">
                <span class="project-icon-wrap">
                  <svg class="projects-card-link-icon money">
                    <use href="/icons/icons.svg#money"></use>
                  </svg>
                </span>
                <span class="projects-card-link-nav-arrow-wrap">
                  <svg class="projects-card-link-nav-arrow money">
                    <use href="/icons/icons.svg#card-nav-arrow"></use>
                  </svg>
                </span>
              </span>
              <span class="projects-card-link-title">Скарбничка добра</span>
            </button>
          </li>
          <li class="swiper-slide projects-slider-slide">
            <button
              type="button"
              class="projects-card-link message js-project-message-btn"
            >
              <span class="projects-card-link-icon-wrap">
                <span class="project-icon-wrap">
                  <svg class="projects-card-link-icon message">
                    <use href="/icons/icons.svg#message"></use>
                  </svg>
                </span>
                <span class="projects-card-link-nav-arrow-wrap">
                  <svg class="projects-card-link-nav-arrow message">
                    <use href="/icons/icons.svg#card-nav-arrow"></use>
                  </svg>
                </span>
              </span>
              <span class="projects-card-link-title">інсторики</span>
            </button>
          </li>
        </ul>
        <ul class="projects-slider-controls-list">
          <li class="projects-slider-controls-list-item">
            <button
              type="button"
              class="projects-slider-btn projects-slider-btn-prev"
            >
              <svg
                class="projects-slider-btn-icon projects-slider-btn-prev-icon"
              >
                <use href="/icons/icons.svg#slider-nav-arrow-prev"></use>
              </svg>
            </button>
          </li>
          <li class="projects-slider-controls-list-item">
            <button
              type="button"
              class="projects-slider-btn projects-slider-btn-next"
            >
              <svg
                class="projects-slider-btn-icon projects-slider-btn-prev-icon"
              >
                <use href="/icons/icons.svg#slider-nav-arrow-next"></use>
              </svg>
            </button>
          </li>
        </ul>
      </div>
      <ul class="projects-list">
        <li class="projects-list-item">
          <button
            type="button"
            class="projects-card-link armor js-project-armor-btn"
          >
            <span class="projects-card-link-icon-wrap">
              <span class="project-icon-wrap">
                <svg class="projects-card-link-icon armor">
                  <use href="/icons/icons.svg#armor"></use>
                </svg>
              </span>
              <span class="projects-card-link-nav-arrow-wrap">
                <svg class="projects-card-link-nav-arrow armor">
                  <use href="/icons/icons.svg#card-nav-arrow"></use>
                </svg>
              </span>
            </span>
            <span class="projects-card-link-title">Бонусна Броня</span>
          </button>
        </li>
        <li class="projects-list-item">
          <button
            type="button"
            class="projects-card-link artemsil js-project-artemsil-btn"
          >
            <span class="projects-card-link-icon-wrap">
              <span class="project-icon-wrap">
                <svg class="projects-card-link-icon artemsil">
                  <use href="/icons/icons.svg#artemsil"></use>
                </svg>
              </span>
              <span class="projects-card-link-nav-arrow-wrap">
                <svg class="projects-card-link-nav-arrow artemsil">
                  <use href="/icons/icons.svg#card-nav-arrow"></use>
                </svg>
              </span>
            </span>
            <span class="projects-card-link-title"
              >Міць. Українська кам&#8217;яна</span
            >
          </button>
        </li>
        <li class="projects-list-item">
          <button
            type="button"
            class="projects-card-link money js-project-money-btn"
          >
            <span class="projects-card-link-icon-wrap">
              <span class="project-icon-wrap">
                <svg class="projects-card-link-icon money">
                  <use href="/icons/icons.svg#money"></use>
                </svg>
              </span>
              <span class="projects-card-link-nav-arrow-wrap">
                <svg class="projects-card-link-nav-arrow money">
                  <use href="/icons/icons.svg#card-nav-arrow"></use>
                </svg>
              </span>
            </span>
            <span class="projects-card-link-title">Скарбничка добра</span>
          </button>
        </li>
        <li class="projects-list-item">
          <button
            type="button"
            class="projects-card-link message js-project-message-btn"
          >
            <span class="projects-card-link-icon-wrap">
              <span class="project-icon-wrap">
                <svg class="projects-card-link-icon message">
                  <use href="/icons/icons.svg#message"></use>
                </svg>
              </span>
              <span class="projects-card-link-nav-arrow-wrap">
                <svg class="projects-card-link-nav-arrow message">
                  <use href="/icons/icons.svg#card-nav-arrow"></use>
                </svg>
              </span>
            </span>
            <span class="projects-card-link-title">інсторики</span>
          </button>
        </li>
      </ul>
    </div>
  </div>
</section>
