<section class="support-section">
  <div class="support-section-bg">
    <div class="container support-container">
      <div class="support-title-wrap" data-aos="fade-up">
        <svg class="support-title-icon">
          <use href="/icons/icons.svg#heart"></use>
        </svg>
        <h2 class="support-title">
          Спільно з Гостями та партнерами робимо все для перемоги
        </h2>
      </div>
      <svg class="support-left-hand-mobile-icon" data-aos="fade-right">
        <use href="/icons/icons.svg#support-left-hand-mobile"></use>
      </svg>
      <svg class="support-right-hand-mobile-icon" data-aos="fade-left">
        <use href="/icons/icons.svg#support-right-hand-mobile"></use>
      </svg>
      <svg class="support-left-hand-desk-icon" data-aos="fade-right">
        <use href="/icons/icons.svg#support-left-hand-desk"></use>
      </svg>
      <svg class="support-right-hand-desk-icon" data-aos="fade-left">
        <use href="/icons/icons.svg#support-right-hand-desk"></use>
      </svg>
    </div>
  </div>
</section>
