.footer {
  padding-top: 48px;
  padding-bottom: 48px;
  background-color: #fffef7;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.footer-link-icon {
  display: block;
  width: 124px;
  height: 48px;
}

.footer-social-links-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  background-color: #7ac76b;
  border-radius: 50%;
}

.footer-social-link-icon {
  fill: var(--white-color);
}

.footer-social-link-icon.facebook {
  width: 12px;
  height: 23px;
}

.footer-social-link-icon.telegram {
  width: 19px;
  height: 17px;
}

.footer-social-link-icon.instagram {
  width: 20px;
  height: 20px;
}

.footer-text-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.footer-text-silpo {
  color: #37342b;
  font-family: Manrope;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
}

.footer-text-sun {
  color: #37342b;
  font-family: Manrope;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

@media screen and (min-width: 1310px) {
  .footer {
    padding-top: 74px;
    padding-bottom: 74px;
  }

  .footer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .footer-social-links-list {
    gap: 16px;
  }

  .footer-social-link {
    width: 44px;
    height: 44px;
  }

  .footer-text-silpo {
    font-size: 18px;
  }

  .footer-text-sun {
    font-size: 18px;
  }
}
