.header {
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid rgba(93, 90, 136, 0.17);
}

.header-content-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo-link {
  display: block;
}

.header-logo-icon {
  display: block;
  width: 107.4px;
  height: 40px;
}

.header-plus-for-life-link {
  display: flex;
  gap: 8px;
  align-items: center;
  height: 44px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 22px;
  background-color: #5D398E;
}

.header-plus-for-life-link-title {
  color: var(--white-color);
  font-family: Akrobat;
  font-size: 16px;
  font-weight: 900;
  line-height: 0.9;
  text-transform: uppercase;
}

.header-plus-for-life-link-icon {
  width: 18px;
  height: 18px;
  fill: var(--white-color);
  transition: transform var(--transition-duration-and-func);
}

.header-plus-for-life-link:is(:hover, :focus) .header-plus-for-life-link-icon {
  transform: rotate(45deg);
}

@media screen and (min-width: 1372px) {
  .header {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .nav {
    display: flex;
    align-items: center;
    gap: 430px;
  }

  .header-logo-icon {
    display: block;
    width: 126px;
    height: 48px;
  }

  .header-menu {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .menu-link {
    color: #37342b;
    font-family: Akrobat;
    font-size: 16px;
    font-weight: 900;
    line-height: 0.9;
    text-transform: uppercase;
  }

  .header-plus-for-life-link {
    height: 48px;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 24px;
  }
}

@media screen and (max-width: 1371px) {
  .header-menu {
    display: none;
  }
}
