.partners-section {
  padding-top: 40px;
  padding-bottom: 60px;
  background-color: #7ac76b;
  overflow: hidden;
}

.partners-section-title {
  color: var(--white-color);
  font-family: Akrobat;
  font-size: 40px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
}

.partners-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 7px;
}

.partners-mobile-list {
  margin-top: 60px;
}

.partners-card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 106px;
  height: 106px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.partners-icon {
  fill: #fffef7;
}

.partners-icon.vodafone {
  width: 76px;
  height: 76px;
}

.partners-icon.birds {
  width: 76px;
  height: 76px;
}

.partners-icon.city24 {
  width: 56px;
  height: 19px;
}

.partners-icon.united24 {
  width: 76px;
  height: 7px;
}

.partners-icon.wog {
  width: 59px;
  height: 18px;
}

.partners-icon.drones {
  width: 76px;
  height: 76px;
}

.partners-icon.sun {
  width: 76px;
  height: 76px;
}

.partners-icon.monobank {
  width: 76px;
  height: 76px;
}

.partners-icon.come-back-alive {
  width: 66px;
  height: 34px;
}

.partners-icon.dou {
  width: 46px;
  height: 23px;
}

.partners-icon.unite {
  width: 60px;
  height: 15px;
}

.partners-icon.okko {
  width: 35px;
  height: 47px;
}

.partners-icon.new-post {
  width: 76px;
  height: 76px;
}

.front-u {
  width: 76px;
}

.feel {
  width: 50px;
}

.club-of-virtues {
  width: 76px;
}

.uanimal {
  width: 50px;
}

.your-support {
  width: 40px;
}

.mastercard {
  width: 76px;
  height: auto;
}

.prytula {
  width: 76px;
  height: auto;
}

.tabletochki {
  width: 76px;
}

.leleka {
  width: 76px;
  height: auto;
}

@media screen and (min-width: 1372px) {
  .partners-section {
    padding-top: 100px;
    padding-bottom: 140px;
  }

  .partners-section-title {
    font-size: 42px;
  }

  .partners-list:first-of-type {
    margin-top: 88px;
  }

  .partners-list {
    gap: 14px;
  }

  .partners-desk-list {
    flex-wrap: nowrap;
  }

  .partners-card {
    width: 212px;
    height: 212px;
  }

  .partners-icon.vodafone {
    width: 151px;
    height: 43px;
  }

  .partners-icon.birds {
    width: 79px;
    height: 79px;
  }

  .partners-icon.city24 {
    width: 112px;
    height: 37px;
  }

  .partners-icon.city24 {
    width: 112px;
    height: 37px;
  }

  .partners-icon.united24 {
    width: 153px;
    height: 14px;
  }

  .partners-icon.wog {
    width: 117px;
    height: 36px;
  }

  .partners-icon.drones {
    width: 153px;
    height: 28px;
  }

  .partners-icon.sun {
    width: 153px;
    height: 28px;
  }

  .partners-icon.monobank {
    width: 143px;
    height: 32px;
  }

  .partners-icon.come-back-alive {
    width: 132px;
    height: 67px;
  }

  .partners-icon.dou {
    width: 92px;
    height: 45px;
  }

  .partners-icon.unite {
    width: 119px;
    height: 29px;
  }

  .partners-icon.okko {
    width: 70px;
    height: 94px;
  }

  .partners-icon.new-post {
    width: 124px;
    height: 44px;
  }

  .partners-mobile-list {
    display: none;
  }

  .front-u {
    width: 140px;
    height: 49px;
  }

  .feel {
    width: 87px;
    height: 76px;
  }

  .club-of-virtues {
    width: 153px;
    height: 19px;
  }

  .uanimal {
    width: 75px;
    height: 100px;
  }

  .your-support {
    width: 62px;
    height: 100px;
  }

  .mastercard {
    width: 92px;
    height: 72px;
  }

  .prytula {
    width: 182px;
    height: 55px;
  }

  .tabletochki {
    width: 132px;
    height: 67px;
  }

  .leleka {
    width: 120px;
    height: 149px;
  }
}

@media screen and (max-width: 1371px) {
  .partners-desk-list {
    display: none;
  }
}
